    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/stylesb.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div class="sidebar">
            <div class="logo_content">
                <div class="logo">
                    <img src="/viadisenologo2.png" alt="">
                    
                </div>
                <i class='bx bx-menu' id="btn"></i>
                </div>
                <ul class="nav_list">
                    <li>
                        <i class='bx bx-search' ></i>
                        <input type="text" placeholder="Buscar...">
                        <span class="tooltip">Buscar</span>
                    </li>
                    <li>
                        <a href="/">
                            <i class='bx bxs-grid-alt' ></i>
                            <span class="links_name">Tablero</span>
                        </a>
                        <span class="tooltip">Tablero</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bxs-user-rectangle'></i>
                            <span class="links_name">Usuario</span>
                        </a>
                        <span class="tooltip">Usuario</span>
                    </li>
                    <li>
                        <a href="/pagos/historial_pagos/123">
                            <i class='bx bx-objects-horizontal-left'></i>
                            <span class="links_name">Historial de Pago</span>
                        </a>
                        <span class="tooltip">Historial</span>
                    </li>
                    <li>
                        <a href="/user/alumno/pago">
                            <i class='bx bx-cart' ></i>
                            <span class="links_name">Pago</span>
                        </a>
                        <span class="tooltip">Pago</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bxs-cog' ></i>
                            <span class="links_name">Configuración</span>
                        </a>
                        <span class="tooltip">Configuración</span>
                    </li>

                </ul>

                
                <div class="profile_content">
                    <div class="profile">
                        <div class="profile_details">
                            <img src="profile.png" alt="">
                            <div class="name_role">
                                <div class="name">
                                        Nombre
                                    </div>
                                    <div class="role">Usuario</div>
                                </div>
                            </div>
                            <a href="/user/logout">
                                <i class='bx bx-log-out' id="log_out"></i>
                            </a>
                        </div>
                        
                    </div>

            </div>
            
        </div>

        <script src="/sidebar.js"></script>
    