<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Acción exitosa</title>
</head>
<body>
    <div class="wrapper">
        <div class="msgerror">
            <h1>Error</h1>
            <strong>¡¡¡  Acción realizada con éxito !!!</strong><br><br>
            <div class="redirect">

                <a href="/pagos_de_alumnos" id="redirect">Regresar</a>
            </div>
        </div>
    </div>
</body>
</html>
