<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Error: Página no encontrada</title>
</head>
<body>
    <div class="wrapper">
        <div class="msgerror">
            <h1>Error</h1>
            <strong>La página que buscas no ha sido encontrada.</strong><br><br>
            <div class="redirect">

                <a href="/" id="redirect">Regresar a Página Principal</a>
            </div>
        </div>
    </div>
</body>
</html>