<%- include('includes/sidebar.ejs') %>
<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content="width-device-width, initial-scale=1.0">
        <title>Costo crédito</title>
        <link rel="stylesheet" href="/css/stylesb.css">
        <link rel="stylesheet" href="/css/style3.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    
    <body>
        <div class="rectangulo-superior">

        </div>
        <div class="wrapper">
            <h3>Introducir nuevo ciclo escolar</h3>
            <form action="" onsubmit="event.preventDefault(); verificarFechas();" method="POST">
                <div class="input-box">
                    <input type="text" id="Ciclo" placeholder="Ciclo escolar">
                </div>
                <div class="input-box">
                    <input type="date" id="Fecha_inicio" placeholder="Fecha de inicio">
                </div>
                <div class="input-box">
                    <input type="date" id="Fecha_fin" placeholder="Fecha de fin">
                </div>
                <div class="input-box">
                    <input type="number" id="costoCredito" placeholder="Costo de crédito">
                </div>
        
                <div class="space"></div>
        
                <button class="btn" id="actualizarValor">Actualizar Valor</button>
            </form>
        </div>

        <script>
            function verificarFechas() {
                const fechaInicio = new Date(document.getElementById('Fecha_inicio').value);
                const fechaFin = new Date(document.getElementById('Fecha_fin').value);
                const fechaActual = new Date();

                // Inicializamos la variable booleana
                let estaEnRango = 0;

                if (fechaInicio <= fechaActual && fechaActual <= fechaFin) {
                    estaEnRango = 1;
                    console.log("La fecha actual está dentro del rango.");
                } else {
                    console.log("La fecha actual no está dentro del rango.");
                }

                console.log("¿Está en rango?", estaEnRango);
                var ciclo = document.getElementById("Ciclo").value;
                console.log(ciclo);
                var fechin = document.getElementById("Fecha_inicio").value;
                console.log(fechin);
                var fechfin = document.getElementById("Fecha_fin").value;
                console.log(fechfin);
                var cost = document.getElementById("costoCredito").value;
                console.log(cost);
            }


            document.getElementById('actualizarValor').addEventListener('click', function() {
                var costoCredito = document.getElementById('costoCredito').value;
                if (costoCredito == '') {
                    alert('Ingrese un valor')
                } else {
                    // Aquí podrías agregar lógica para guardar el valor de manera persistente, por ejemplo, enviándolo a un servidor
                    alert('El valor del Costo Crédito ha sido actualizado a: ' + costoCredito);
                }
            });
        </script>
    </body>
</html>
