<%- include('includes/sidebar.ejs') %>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Ciclo Escolar</title>
    <link rel="stylesheet" href="/css/stylesb.css">
    <link rel="stylesheet" href="/css/style3.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <h3 style="display: flex; justify-content: center; width: 100%;">
            <%= ciclo.IDCiclo ? 'Modificar' : 'Introducir Nuevo' %> Ciclo Escolar
        </h3>
        <form id="cicloForm" action="/user/admin/ciclo_escolar" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="IDCiclo" value="<%= ciclo.IDCiclo || '' %>">
            <div class="input-box">
                <input type="text" name="Ciclo" placeholder="Ciclo escolar" required>
            </div>
            <div class="input-box">
                <input type="date" name="Fecha_Inicio" placeholder="Fecha de inicio" required>
            </div>
            <div class="input-box">
                <input type="date" name="Fecha_Fin" placeholder="Fecha de fin" required>
            </div>
            <div class="input-box">
                <input type="number" name="Precio_credito" placeholder="Costo de crédito" required>
            </div>
            <div class="input-box">
                <input type="number" name="IDCicloEXT" placeholder="ID ciclo IVD" required>
            </div>
            <input type="hidden" name="Ciclo_activo">
            <button class="btn" type="submit">Actualizar Valor</button>
            <button type="button" class="btn" onclick="history.back()">Regresar</button>
        </form>
    </div>

    <script>
        document.getElementById('cicloForm').onsubmit = function(event) {
            const form = this;
            // Check if all required inputs are filled
            const requiredInputs = form.querySelectorAll("[required]");
            for (let input of requiredInputs) {
                if (!input.value.trim()) {
                    alert("Por favor, rellene todos los campos necesarios.");
                    event.preventDefault(); // Prevent form from submitting
                    return false;
                }
            }
        };
    </script>
</body>
</html>
