
<!DOCTYPE html>
<html>
    <head>
        <title>Página de Inicio</title>
    </head>
    <body>
        <div class="page_content">
            <div class="text">
                <h4>Por favor, contacte a un administrador para pedir el cambio de materias.</h4>
            </div>
        </div>
        
    </body>
</html>