<%- include('includes/sidebar.ejs'), {correo: correo} %>
<!DOCTYPE html>
<html>
    <head>
        <title>Página de Inicio</title>
    </head>
    <body>
        <div class="page_content">
            <div class="text">
                Home Content
            </div>
        </div>
        
    </body>
</html>