<%- include('includes/sidebar.ejs'), {
    correo: correo,
    permisos: permisos,
    rol: rol,
    nombre: nombre
} %>
<!DOCTYPE html>
<html>
    <head>
        <title>Página de Inicio</title>
    </head>
    <body>
        <div class="page_content">
            <div class="text">
                <h2>Bienvenid@ al portal de pagos de Via Diseño, <%=nombre%>.</h2>
            </div>
        </div>
        
    </body>
</html>