<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña olvidada</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="wrapper2">
        <a href="https://ivd.edu.mx/">
            <img src="/viadisenologo.png" alt="logo" class="logo">
        </a>
        <div class="header"><h3>Restablecer contraseña</h3></div>
        <div class="texto">Si se te olvidó tu contraseña, puedes restablecerla aquí mismo. Ingresa a continuación tu correo electrónico.</div>
        <div class="input-box2">
            <input type="text" placeholder="Correo Electrónico">
            <button class="btn3">Submit</button>
        </div>
    </div>
</body>
</html>