<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Registrar Pago</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body> 
    <div class="wrapper">
        <form action="/user/registrarPago" method="POST"> 

            <div class="input-box">
                <input type="number" name="IDUsuario" placeholder="ID del Usuario" required>
            </div>

            <div class="input-box">
                <input type="number" name="IDDueda" placeholder="ID de la Deuda" required>
            </div>

            <div class="input-box">
                <input type="text" name="Cant_pagada" placeholder="Cantidad Pagada" required>
            </div>

            <div class="input-box">
                <input type="text" name="Fecha_de_pago" placeholder="Fecha de Pago" onfocus="(this.type='datetime')" required>
            </div>

            <div class="input-box">
                <input type="text" name="Metodo" placeholder="Método de Pago" required>
            </div>

            <div class="input-box">
                <input type="text" name="Banco" placeholder="Banco" required>
            </div>

            <div class="input-box">
                <input type="text" name="Nota" placeholder="Nota" required>
            </div>

            <div class="input-box">
                <input type="text" name="Prorroga" placeholder="Prórroga" onfocus="(this.type='datetime')">
            </div>

            <div class="space"></div>
            <button type="submit" class="btn">Registrar</button>
        </form>
    </div>
</body>
</html>

