<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cargar CSV</title>
</head>
<body>
    <% if (user.role === 'admin') { %>
        <form action="/csv/upload" method="post" enctype="multipart/form-data">
          <label for="csvFile">Subir archivo CSV:</label>
          <input type="file" id="csvFile" name="csvFile" accept=".csv">
          <button type="submit">Cargar CSV</button>
        </form>
      <% } else { %>
        <p>Acceso denegado. Solo los administradores pueden cargar archivos CSV.</p>
      <% } %>      
</body>
</html>
